@font-face {
  font-family: "AppleSDGothicNeoL";
  src: url("./assets/font/AppleSDGothicNeoL.ttf") format("truetype");
}

* {
  font-family: "AppleSDGothicNeoL";
}

header {
  margin-top: 10px;
}
section::-webkit-scrollbar {
  display: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  width: 1200px;
  height: 500px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 10px -5px rgb(0, 0, 0);
  overflow: scroll;
  padding: 0 50px 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

footer button {
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: #fff;
  border: none;
  padding: 0;
  margin-top: 30px;
}
footer button:hover {
  transform: translateY(5px);
}
.table-header {
  width: 1210px;
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 123;
}
.table-header select {
  color: #fd6f22;
  font-weight: 800;
  font-size: 1.3rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.table-header select option {
  font-size: 18px;
}
.table-header span {
  color: #fd6f22;
  font-weight: 800;
  font-size: 1.2rem;
}
.table-header span:nth-child(1) {
  flex-basis: 110px;
}
.table-header span:nth-child(2) {
  flex-basis: 240px;
}
.table-header span:nth-child(3) {
  flex-basis: 320px;
}
.table-header span:nth-child(4) {
  flex-basis: 580px;
}
.table-header span:nth-child(5) {
  flex-basis: 45px;
}
#restaurant-list {
  margin-top: 10px;
}
.restaurant-el {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px rgba(0, 0, 0, 0.3);
}
.type {
  flex-basis: 100px;
}
h3 {
  flex-basis: 220px;
}
.reference {
  flex-basis: 550px;
}
.famous-menu {
  flex-basis: 300px;
}
.link-btn {
  border: none;
  background-color: #fff;
  font-size: 26px;
  cursor: pointer;
}

.active {
  border: solid 5px #fd6f22;
  z-index: 1;
  border-radius: 25px;
  padding: 0 15px;
  animation: active 0.5s infinite;
}

@keyframes active {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(105%);
  }
  100% {
    transform: scale(100%);
  }
}

.active h3 {
  color: #fd6f22;
}
