@font-face {
  font-family: 'AppleSDGothicNeoL';
  src: url("./assets/font/AppleSDGothicNeoL.ttf") format("truetype");
}

* {
  font-family: 'AppleSDGothicNeoL';
}
section::-webkit-scrollbar {
  display: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  width: 1200px;
  height: 500px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 10px -5px rgb(0, 0, 0);
  overflow: scroll;
  padding: 0 50px 20px;
}

footer button {
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: #fff;
  border: none;
  padding: 0;
  margin-top: 60px;
}
footer button:hover {
  transform: translateY(5px);
}
.table-header {
  width: 1200px;
  display: flex;
  flex: row;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 30px 0;
}
.table-header span {
  color: #fd6f22;
  font-weight: 800;
  font-size: 1.2rem;
}
.table-header span:nth-child(1) {
  flex-basis: 100px;
}
.table-header span:nth-child(2) {
  flex-basis: 220px;
}
.table-header span:nth-child(3) {
  flex-basis: 300px;
}
.table-header span:nth-child(4) {
  flex-basis: 550px;
}
.table-header span:nth-child(5) {
  flex-basis: 45px;
}
#restaurant-list {
  margin-top: 70px;
}
.restaurant-el {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px rgba(0, 0, 0, 0.3);
}
.type {
  flex-basis: 100px;
}
h3 {
  flex-basis: 220px;
}
.reference {
  flex-basis: 550px;
}
.famous-menu {
  flex-basis: 300px;
}
.link-btn {
  border: none;
  background-color: #fff;
  font-size: 26px;
  cursor: pointer;
}

